body {
	margin: 0;
	padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #001e38;
}

header {
    background-color: #f1f1f1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5),  0px 0px 10px rgba(0, 0, 0, 0.5),  0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#barnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;  
    margin-right: 15%;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 100%;
}

#title h1 {
    font-size: 36.5px;
    color: transparent;
    background-image: url('imagenes/olas.jpg'); 
    background-clip: text; 
    -webkit-background-clip: text; 
    margin-left: 1%;
}

#navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    margin-left: 5%;
	list-style: none;
} 

#navbar li:first-child {
    margin: 0;
	list-style: none;
} 

#navbar a {
    padding: 10px;
    color: #0284c7;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}

#navbar a:hover {
    background-image: url('imagenes/olas.jpg');
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5),  0px 0px 10px rgba(0, 0, 0, 0.5),  0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

#navbar a.active {
    background-image: url('imagenes/olas.jpg');
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5),  0px 0px 10px rgba(0, 0, 0, 0.5),  0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    margin: 0;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5),  0px 0px 10px rgba(0, 0, 0, 0.5),  0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 1px;
    color: #0284c7;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

#introduccion {
    margin-right: 23%;
    margin-left: 23%;
    color: white;
    text-align: justify;
}

#introduccionTitle {
    margin-right: 20%;
    margin-left: 20%;
    color: white;
    background-color: #012e55;
    border: 3px solid #00111f;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

#logoOds {
    margin-right: 20%;
    margin-left: 20%;
    color: white;
    background-color: #012e55;
    border: 3px solid #00111f;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

#logoOds img {
    padding-left: 5px;
    padding-right: 5px;
    width: 46px;
    height: 46px;
}

.textoOds {
    margin-right: 20%;
    margin-left: 20%;
    color: white;
    text-align: justify;
}

.ods1 {
    margin-right: 10%;
    margin-left: 15%;
    color: white;
    background-color: #012e55;
    border: 3px solid #00111f;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    width: 40%;
}

.ods1 img {
    width: 250px;
    height: 250px;
    padding: 15px;
}

.ods1Text h2 {
    text-align: center;
}

.ods1Text {
    text-align: center;
    padding-left: 15px;
}

.ods2 {
    margin-right: 15%;
    margin-left: 44.5%;
    color: white;
    background-color: #012e55;
    border: 3px solid #00111f;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: right;
}

.ods2 img {
    width: 250px;
    height: 250px;
    padding: 15px;
}

.ods2Text h2 {
    text-align: center;
}

.ods2Text {
    text-align: center;
    padding: 15px;
}
