body {
	margin: 0;
	padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #001e38;
}

header {
    background-color: #f1f1f1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5),  0px 0px 10px rgba(0, 0, 0, 0.5),  0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#barnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;  
    margin-right: 15%;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 100%;
}

#title h1 {
    font-size: 36.5px;
    color: transparent;
    background-image: url('imagenes/olas.jpg'); 
    background-clip: text; 
    -webkit-background-clip: text; 
    margin-left: 1%;
}

#navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    margin-left: 5%;
	list-style: none;
} 

#navbar li:first-child {
    margin: 0;
	list-style: none;
} 

#navbar a {
    padding: 10px;
    color: #0284c7;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}

#navbar a:hover {
    background-image: url('imagenes/olas.jpg');
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5),  0px 0px 10px rgba(0, 0, 0, 0.5),  0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

#navbar a.active {
    background-image: url('imagenes/olas.jpg');
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5),  0px 0px 10px rgba(0, 0, 0, 0.5),  0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    margin: 0;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5),  0px 0px 10px rgba(0, 0, 0, 0.5),  0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 1px;
    color: #0284c7;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

#solucion {
    margin-right: 20%;
    margin-left: 20%;
    background-color: #012e55;
    border: 3px solid #00111f;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 60%;
}

#solucionTexto {
    margin-left: 20%;
    margin-right: 20%;
    color: white;
    text-align: justify;
}

#basura {
    margin-right: 20%;
    margin-left: 20%;
    background-color: #012e55;
    border: 3px solid #00111f;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 60%;
}

#basuraTextoF {
    margin-left: 20%;
    margin-right: 20%;
    color: white;
    text-align: justify;
    display: flex;
    align-items: center;
}

#basuraTextoF h3 {
    text-align: center;
}

#basuraTextoF img {
    width: 400px;
    height: auto;
    margin-left: 20px;
}

#aplicacion {
    margin-right: 20%;
    margin-left: 20%;
    background-color: #012e55;
    border: 3px solid #00111f;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 60%;
}

#aplicacionTexto {
    margin-left: 20%;
    margin-right: 20%;
    color: white;
    text-align: justify;
    display: flex; 
    align-items: center;
}

#aplicacionTexto h3 {
    text-align: center;
}

#aplicacionTexto img {
    width: 400px;
    height: auto;
    margin-right: 20px;
}